@import "tailwindcss";

:root {
  --background: #1f2937;
  --foreground: #e5c200e6;
}

body {
  background: var(--background);
  color: var(--foreground);
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
.input,
.select {
  @apply w-full rounded-lg bg-gray-800 text-white border border-gray-700 px-2 py-1 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
